h3{
  color: rgb(173, 179, 184);
}
.body{
 margin-left: 30%;
 margin-top:5%;

}
.text-field{
  width:60%;
}
#tasks{
  margin-top:5%;
  border:2px solid rgb(234, 241, 244);
  width:40%;
}
.check{
  margin: left;
}
